<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
  <!-- Custom -->
  <link rel='stylesheet' href='stylesheets/base.css'></link>
  <link rel='stylesheet' href='stylesheets/programs.css'></link>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- JQuery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='u-max-full-width'>
      <div class='row nav'>
          <div class='twelve columns'>
              <div class='nav-holder'>
                 <span>Fill with nav content</span> 
              </div><!-- nav-holder -->
          </div><!-- columns -->
      </div><!-- row nav -->
      <div class='row page-title'>
          <div class='offset-by-one six columns page-title-container'>
            <h2>Brazilian JiuJitsu</h2>  
          </div><!--End of spotlight-instructor-->
      </div><!--End of row-->      
      <div class='row'>
          <div class='offset-by-one six columns page-content'>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, obcaecati, ullam, doloremque, labore sit qui natus aspernatur harum odit laborum necessitatibus beatae ipsum ut porro ea cum provident eos. Magni.</p>
            <div class='row'>
                <div class='six columns photo-container'>
                    <img class='center-image long-image' src='images/person-placeholder.jpg'></img>
                </div>
                <div class='six columns photo-container'>
                    <img class='center-image long-image' src='images/person-placeholder.jpg'></img>
                </div>
            </div><!--End of row-->  
          </div><!--End of offset-by-one six columns -->
          <div class='five columns'>
              <form>
                <div class='row'>
                  <div class='offset-by-one ten columns'>
                    <h2 class='form-heading center-content form-heading-top'>Contact Us To</h2>
                    <h2 class='form-heading center-content'><span class='highlighted'>Start</span> Today !</h2>
                  </div><!--twelve columns-->
                  <div class='offset-by-one ten columns center-content'>
                    <input type="text" placeholder="First & Last Name" id="nameInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input type="email" placeholder="Email" id="emailInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input type="tel" placeholder="Phone Number" id="phoneInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input class='button' type="submit" value="START TRAINING TODAY">
                  </div>
                </div><!--End of row-->
              </form>
          </div><!--End of five columns-->  
      </div><!--End of row-->
  </div><!-- u-max-full-width -->
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>