<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
  <!-- Custom -->
  <link rel='stylesheet' href='stylesheets/base.css'></link>
  <link rel='stylesheet' href='stylesheets/instructor.css'></link>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- JQuery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='u-max-full-width'>
      <div class='row nav'>
          <div class='twelve columns'>
              <div class='nav-holder'>
                 <span>Fill with nav content</span> 
              </div><!-- nav-holder -->
          </div><!-- columns -->
      </div><!-- row nav -->
      <div class='row page-title'>
          <div class='offset-by-one six columns page-title-container'>
            <h2>Instructors</h2>  
          </div><!--End of spotlight-instructor-->
      </div><!--End of row-->
      <div class='row spotlight'>
          <div class='offset-by-one six columns spotlight-instructor'>
            <img class='center-image spotlight-photo' src='images/frame_placeholder.jpg'></img>
            <h3 class='spotlight-headings'>Giulianno Galluppi</h3>
            <h4 class='spotlight-headings'>Head Coach / BJJ Instructor</h4>
            <p>Guilianno Galluppi is a 3rd degree black belt in Brazilian JiuJitsu under Ricardo Liborio (Co-Founder of American Top Team). He started his journey in martial arts as a young boy, learning Judo. In Brazil it is common for children to enter into a martial arts discipline and compete, Giulianno excelled at Judo and quickly moved on to Brazilian JiuJitsu, winning several tournaments while climbing up the belt ranks.</p>
          </div><!--End of offset-by-one six columns -->
          <div class='five columns'>
              <form>
                <div class='row'>
                  <div class='offset-by-one ten columns'>
                    <h2 class='form-heading center-content form-heading-top'>WHAT ARE YOU WAITING FOR ?</h2>
                    <h2 class='form-heading center-content'><span class='highlighted'>Start</span> Today !</h2>
                  </div><!--twelve columns-->
                  <div class='offset-by-one ten columns center-content'>
                    <input type="text" placeholder="First & Last Name" id="nameInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input type="email" placeholder="Email" id="emailInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input type="tel" placeholder="Phone Number" id="phoneInput">
                  </div>
                  <div class='offset-by-one ten columns center-content'>
                    <input class='button' type="submit" value="START TRAINING TODAY">
                  </div>
                </div><!--End of row-->
              </form>
          </div><!--End of five columns-->
      </div><!--End of row-->
      <div class='row staff'>
        <div class='offset-by-one ten columns'>
          <div class='row staff-row'>
            <div class='four columns staff-bio'>
              <img  class='center-image' src='images/frame_placeholder.jpg'></img>
              <h4 class='center-content staff-name'>Hunter Muskrat</h4>
              <h5 class='center-content staff-job'>Wrestling Instructor</h5>
              <p class='center-content'>Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia? </p>
            </div><!--End of four columns-->
            <div class='four columns staff-bio'>
              <img  class='center-image' src='images/frame_placeholder.jpg'></img>
              <h4 class='center-content staff-name'>Brandon Frame</h4>
              <h5 class='center-content staff-job'>No Gi Instructor</h5>
              <p class='center-content'>Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia? </p>
            </div><!--End of four columns-->
            <div class='four columns staff-bio'>
              <img  class='center-image' src='images/frame_placeholder.jpg'></img>
              <h4 class='center-content staff-name'>TJ Taha</h4>
              <h5 class='center-content staff-job'>Kickboxing Instructor</h5>
              <p class='center-content'>Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia? </p>
            </div><!--End of four columns-->
          </div><!--End of row-->
          <div class='row staff-row'>
            <div class='four columns staff-bio'>
              <img  class='center-image' src='images/frame_placeholder.jpg'></img>
              <h4 class='center-content staff-name'>Shakir Mckillip</h4>
              <h5 class='center-content staff-job'>Kids BJJ Instructor</h5>
              <p class='center-content'>Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia? </p>
            </div><!--End of four columns-->
          </div><!--End of row-->
        </div><!--End of staff-bio-->
      </div><!--End of staff-->
  </div><!-- u-max-full-width -->
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>