<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
  <!-- Custom -->
  <link rel='stylesheet' href='stylesheets/att.css'></link>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- JQuery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='container'>
    <div class='row nav'>
      <div class='five columns'>
        <div class='logo u-pull-left'>
          <img class='u-max-full-width u-pull-left' src='images/favicon.png'></img>
          <h2 class='nav-title no-pad'>American Top Team</h2>
          <address>5750 N. State Road 7, Coconut Creek, Florida 33073</address>
        </div>
        <div class='social-buttons u-pull-left'>
          <ul>
            <li class='u-pull-left social-nav-buttons'><a href='#'><img src='images/favicon.png'></img></a></li>
            <li class='u-pull-left social-nav-buttons'><a href='#'><img src='images/favicon.png'></img></a></li>
            <li class='u-pull-left social-nav-buttons'><a href='#'><img src='images/favicon.png'></img></a></li>
          </ul>
        </div><!--End of social-buttons-->
      </div>
      <div class='seven columns'>
        <div class='navigation u-pull-left'>
          <ul>
            <li class='u-pull-left spacing-twelve'><a href='#'>Home</a></li>
            <li class='u-pull-left spacing-twelve'><a href='#'>About Us</a></li>
            <li class='u-pull-left spacing-twelve'><a href='#'>Programs</a></li>
            <li class='u-pull-left spacing-twelve'><a href='#'>Schedule</a></li>
            <li class='u-pull-left spacing-twelve'><a href='#'>Contact Us</a></li>
          </ul>
        </div><!--End of navigation-->
      </div>
      
    </div><!--End of nav-->
    <div class='row jumbotron'>
      <div class='four columns u-pull-right'>
        <form>
          <div class='row'>
            <div class='twelve columns'>
              <h2 class='form-heading center-content'>Contact Us To <span class='highlighted'>Start</span> Today</h2>
            </div><!--End of three columns-->
          </div><!--End of row-->
          <div class='row'>
            <div class='twelve columns'>
              <input class="u-full-width" type="text" placeholder="First & Last Name" id="nameInput">
            </div><!--End of three columns-->
          </div><!--End of row-->
          <div class='row'>
            <div class='twelve columns'>
              <input class="u-full-width" type="email" placeholder="Email" id="emailInput">
            </div><!--End of three columns-->
          </div><!--End of row-->
          <div class='row'>
            <div class='twelve columns'>
              <input class="u-full-width" type="text" placeholder="Phone Number" id="phoneNumberInput">
            </div><!--End of three columns-->
          </div><!--End of row-->
          <div class='row'>
            <div class='twelve columns'>
              <input class='u-full-width button button-primary' type="submit" value="submit">
            </div><!--End of three columns-->
          </div><!--End of row-->
        </form>
      </div>
      
    </div><!--End of jumbotron-->
    <div class='row intro'>
      <div class='intro-heading'>
        <h3 class='center-content'>American Top Team</h3>
      </div>
      <div class='intro-content center-content'>
        <p>American Top Team in Oklahoma City is the Premier MMA training facility used by mixed martial arts, brazilian jiujitsu competitors and other sports athletes alike! Come Join Us Today and see what all the fuss is about!</p>
      </div>
      <div class='intro-button'>
        <a class="button button-primary" href="#">Join Now</a>
      </div>
    </div><!--End of intro-->
    <div class='row social'>
      <div class='social-heading'>
        <h3 class='center-content'>Check Us Out on Social Media!</h3>
      </div><!--End of social-heading-->
      <div class='social-buttons offset-by-four four columns'>
        <ul>
          <li><a href='#'><img src='images/favicon.png'></img></a></li>
          <li><a href='#'><img src='images/favicon.png'></img></a></li>
          <li><a href='#'><img src='images/favicon.png'></img></a></li>
        </ul>  
      </div><!--End of social-buttons-->
      <div class='u-cf'></div>
      <div class='social-works'>
        <h4 class='center-content'>Recent Activity</h4>
      </div><!--End of social-works-->
    </div><!--End of social-->
  </div><!--End of container-->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
