<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
  <!-- Custom -->
  <link rel='stylesheet' href='stylesheets/att.css'></link>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- JQuery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
    <div class='container-fluid'>
      <div class='row'>
        <div class='one column box red'></div>
        <div class='one column box orange'></div>
        <div class='one column box yellow'></div>
        <div class='one column box green'></div>
        <div class='one column box blue'></div>
        <div class='one column box silver'></div>
        <div class='one column box purple'></div>
        <div class='one column box black'></div>
        <div class='one column box white'></div>
        <div class='one column box gold'></div>
        <div class='one column box pink'></div>
        <div class='one column box brown'></div>
      </div><!--End of row-->
      <div class='nav row'>
        <div class='one-half column'>
          <img class='u-pull-left logo' src='images/logo_placeholder.jpg'></img>
          <ul class='u-pull-left no-list social-nav-buttons'>
            <li class='u-pull-left'><img class='mini' src='images/favicon.png'></img></li>
            <li class='u-pull-left'><img class='mini' src='images/favicon.png'></img></li>
            <li class='u-pull-left'><img class='mini' src='images/favicon.png'></img></li>
          </ul>
        </div>
        <div class='one-half column navigation'>
          <ul class='no-list'>
            <li class='u-pull-left'><a href='#'>Home</a></li>
            <li class='u-pull-left'><a href='#'>About Us</a></li>
            <li class='u-pull-left'><a href='#'>Program</a></li>
            <li class='u-pull-left'><a href='#'>Schedule</a></li>
            <li class='u-pull-left'><a href='#'>Contact Us</a></li>
          </ul>
        </div>
      </div><!--End of row-->
      <div class='row jumbotron'>
        <div class='five columns u-pull-right'>
          <form class='u-pull-right'>
            <div class='row'>
              <div class='six columns offset-by-three'>
                <h2 class='form-heading center-content'>Contact Us To <span class='highlighted'>Start</span> Today</h2>
              </div><!--End of three columns-->
            </div><!--End of row-->
            <div class='row'>
              <div class='ten columns offset-by-one'>
                <input class="u-full-width form-input" type="text" placeholder="First & Last Name" id="nameInput">
              </div><!--End of three columns-->
            </div><!--End of row-->
            <div class='row'>
              <div class='ten columns offset-by-one'>
                <input class="u-full-width form-input" type="email" placeholder="Email" id="emailInput">
              </div><!--End of three columns-->
            </div><!--End of row-->
            <div class='row'>
              <div class='ten columns offset-by-one'>
                <input class="u-full-width form-input" type="text" placeholder="Phone Number" id="phoneNumberInput">
              </div><!--End of three columns-->
            </div><!--End of row-->
            <div class='row'>
              <div class='ten columns offset-by-one'>
                <input class='u-full-width button button-primary' type="submit" value="submit">
              </div><!--End of three columns-->
            </div><!--End of row-->
          </form>
        </div>
        
      </div><!--End of jumbotron-->
      <div class='row intro'>
        <div class='container'>
          <div class='row intro-heading'>
          <h3 class='center-content'>American Top Team OKC</h3>
        </div>
        <div class='row intro-content center-content'>
          <p>American Top Team in Oklahoma City is the Premier MMA training facility used by mixed martial arts, brazilian jiujitsu competitors and other sports athletes alike! Come Join Us Today and see what all the fuss is about!</p>
        </div>
        <div class='row intro-button'>
          <a class="button button-primary" href="#">Join Now</a>
        </div>
        </div>
        
      </div><!--End of intro-->
      <div class='row social'>
        <div class='social-heading'>
          <h3 class='center-content'>Check Us Out on Social Media!</h3>
        </div><!--End of social-heading-->
        <div class='social-buttons offset-by-four four columns'>
          <ul>
            <li><a href='#'><img src='images/favicon.png'></img></a></li>
            <li><a href='#'><img src='images/favicon.png'></img></a></li>
            <li><a href='#'><img src='images/favicon.png'></img></a></li>
          </ul>  
        </div><!--End of social-buttons-->
        <div class='u-cf'></div>
        <div class='social-works'>
          <h4 class='center-content'>Recent Activity</h4>
        </div><!--End of social-works-->
      </div><!--End of social-->
    </div><!--End of container-->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
