body{
    font-family: 'Roboto', sans-serif;
}

.box{
    width:100%;
    height:100px;
}

.red{
    background-color:red;
}

.orange{
    background-color:orange;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
.silver{
    background-color:silver;
}
.purple{
    background-color:purple;
}
.black{
    background-color:black;
}
.white{
    background-color:white;
}
.pink{
    background-color:pink;
}
.brown{
    background-color:brown;
}

.gold{
    background-color:gold;
}
.no-pad{
    margin:0px;
    padding:0px;
}

.center-content{
    text-align: center;
}

.container-fluid{
    width:100vw;
    max-width:100vw;
}

.no-list{
    list-style: none;
}

.logo{
    margin:27px 0px 20.5px 0px;
}

.social-nav-buttons{
    margin:45px 0px 38.5px 0px;
}

.social-nav-buttons li{
    margin-right:20px;
}

.mini{
    height:24px;
    width:24px;
}

.navigation ul{
    margin:44px 0px 37.5px 0px;
}

.navigation ul li{
    margin-right:40px;
    font-size: 20px;
}

.navigation ul li a{
    text-decoration: none;
    color:#95989a;
}

.jumbotron{
    height:778px;
    background: url('../images/jumbotron_placeholder.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form{
    margin: 68.5px 84.7px 0px 0px;
    width:380.3px;
    height:402.5px;
    background-color:rgba(0,0,0,.8);
}

.form-heading{
    color:white;
    font-size: 30px;
    margin-top: 10.6px;
}

.highlighted{
    color:
#3e9bc9;
}

.form-input{
    border-radius:0px !important;
    color:white !important;
    background-color: #333333 !important;
    border:1px solid #ffffff !important;
}

input[type="submit"]{
    border-radius:0px;
}

.intro .container{
    border-bottom:1px solid gray;
}

.social-buttons{
    display:block;
}

.spacing-twenty{
    margin:0 20px;
}



.social-buttons ul{
    list-style-type: none;
    text-align: center;
    margin:0 auto;
    display:table;
    overflow: hidden;
}

.social-buttons ul li{
 float:left;
 padding:2px;
 width:24px;
 padding:24px;
 margin-left:auto;
 margin-right:auto;
}