.no-pad{
    margin:0px;
    padding:0px;
}

.center-content{
    text-align: center;
}

.img-responsive{
    max-width: 100%;
    height:auto;
    display:block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav{
    margin:24px 0px;
}

.logo img{
    margin:2px 4px;
    min-height: 56px;
    min-width: 56px;
}

.nav-title{
    font-size: 1em;
    padding-top: 14.4px;
}

address{
    font-size: .55em;
}

.social-nav-buttons{
    list-style: none;
}

.highlighted{
    color:blue;
}

.intro{
    border-bottom:1px solid gray;
}

.social-buttons{
    display:block;
}

.navigation{
    padding-top: 14.4px;
}

.navigation ul li,.social-nav-buttons ul li{
    list-style: none;
}

.spacing-twelve{
    margin:0 12px;
}

.navigation ul li a{
    text-decoration: none;
}

.social-nav-buttons{
    margin:0px 4px;
    padding-top: 14.4px;
}

.jumbotron{
    background: url(http://media.merchantcircle.com/25777849/rd%20dojo_full.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social-buttons ul{
    list-style-type: none;
    text-align: center;
    margin:0 auto;
    display:table;
    overflow: hidden;
}

.social-buttons ul li{
 float:left;
 padding:2px;
 width:50px;
 margin-left:auto;
 margin-right:auto;
}