.nav-holder{
    height:107.5px;
    background-color:black;
}

/*--------- ABOVE WILL BE REPLACED WITH base.css-----------*/
form{
    margin:0 auto;
}

.page-title-container h2{
    margin-top: 21.5px;
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom:1px solid #95989a;
}

.spotlight{
    margin-bottom:94px;
}

.spotlight-headings{
    text-align:center;
    font-weight: bold;
}

.spotlight-photo{
    margin-top: 42.5px;
    width:274px;
    height:249px;
}

.spotlight-instructor h3{
    margin-top:12.5px;
    margin-bottom: 0px;
}

.spotlight-instructor h4{
    margin: 16px 0px 30.5px 0px;
}

.spotlight-instructor p, .staff-bio p{
    margin:0px 4px;
}

.form-heading{
    margin:0px;
    padding:0px;
    font-size: 22px;
}

.form-heading-top{
    margin-top: 14.6px;
}

#nameInput{
    margin-top: 47.6px;
}

.staff-bio{
    padding-bottom: 76px;
}

.staff-bio img{
    margin-bottom: 19.5px;
    width:224px;
    height:199px;
}

.staff-name{
    margin-bottom: 6px;
}

.staff-job{
    margin-bottom:22.5px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .spotlight-instructor h3{
        font-size: 48px;
    }  
}

/* Larger than phablet */
@media (min-width: 550px) {
    .form-heading{
        font-size: 18px;
    }
    
    form{
        float:none;
        width:208px;
        height:402px;
    }
    
    input[type="submit"]{
        padding: 0px 12px;
    }
    
    .staff-bio img{
        width:124px;
        height:110px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .spotlight-instructor p, .staff-bio p{
        margin:0px;
    }
    
    .form-heading{
        font-size: 18px;
    }
    
    .staff-bio img{
        width:176px;
        height:156px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    form{
        float:none;
        width:380.3px;
        height:402px;
    }
    
    .form-heading{
        font-size: 22px;
    }
    
    .staff-bio img{
        width:224px;
        height:199px;
    }
    
     input[type="submit"]{
        padding: 0px 30px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}