.nav-holder{
    height:107.5px;
    background-color:black;
}
/*--------- ABOVE WILL BE REPLACED WITH base.css-----------*/

form{
    margin:0 auto;
}

.page-title-container h2{
    margin-top: 21.5px;
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom:1px solid #95989a;
}

.page-content{
    margin-bottom: 24px;    
}

.page-content p{
    margin: 34.5px 4px 0px 4px;
}

.photo-container{
    margin-top: 42.5px;
}

.long-image{
    width:194px;
    height:345px;
}

#nameInput{
    margin-top: 47.6px;
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {
    .form-heading{
        font-size: 18px;
    }
    
    .long-image{
        width:124px;
        height:221px;
    }
    
    form{
        float:none;
        width:208px;
        height:402px;
    }
    
    input[type="submit"]{
        padding:0px 12px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .page-content p{
       margin:34.5px 0px 0px 0px; 
    }
    .form-heading{
        font-size: 18px;
    }
    
    form{
        margin:0 auto;
        width:300px;
        height:402.5px;
    }
    
    input[type="submit"]{
        padding:0px 30px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    form{
        float:none;
        width:380.3px;
        height:402px;
    }
    
    .form-heading{
        font-size: 22px;
    }
    
    .long-image{
        width:194px;
        height:345px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}